<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<h2>New client</h2>
<div>
    <form method="post" action="/add">
        <label>Client name <br/> <input type="text" name="name" placeholder="name"/></label> <br/> <br/>
        <label>Client address <br/> <input type="text" name="address" placeholder="address"/></label><br/><br/>
        <label>Client phone <br/> <input type="text" name="phone" placeholder="phone"/></label><br/>
        <br/>
        <input type="submit"/>
    </form>
</div>
</body>
</html>