<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Clients</title>
</head>

<body>
<a href="/add">Новый клиент</a>
<h4>Список клиентов</h4>

<table style="width: 100%;">
    <colgroup>
        <col style="width: 10%;">
        <col style="width: 15%;">
        <col style="width: 15%;">
        <col style="width: 60%;">
    </colgroup>
    <thead>
    <tr>
        <td>ID</td>
        <td>ИМЯ</td>
        <td>АДРЕС</td>
        <td>ТЕЛЕФОНЫ</td>
    </tr>
    </thead>
    <#list clients as client>
    <tr>
        <td>${client.id}</td>
        <td>${client.name}</td>
        <td>${(client.address.street) ! "-"}</td>
        <td><ul>
            <#list client.phones as phone>
            <li>${phone.number}</li>
            </#list>
            </ul>
        </td>
    </tr>
</#list>
</table>
</body>
</html>
